<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>Garden Station</title>
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css" />
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='fontello.css')}}" type="text/css" /> -->
	<!-- <link href="{{ font_url }}" type='text/css'> -->

</head>

<body>


	<div class="grid-container">
		<div class="item1">Garden Station</div>
		
		<div class="item2">	

		<div onclick="location.href='/about'" type="button" class="tile2"><br />O Projekcie</div></br>
		<div onclick="location.href='/charts'" type="button" class="tile2"></i><br/>Statystyki dnia</div></br>
		<div onclick="location.href='/settings'" type="button" class="tile2"></i><br/>Ustawienia</div> </br>
		<div onclick="location.href='/dataCapture'" type="button" class="tile2"></i><br/>Uruchom przechwytywanie danych</div>

	</div>
		<div class="item3">				
			<div class="tile3">Czujnik 1</br>{{SoilH1}}%</div>	</br>
			<div class="tile3">Czujnik 2</br>{{SoilH2}}%</div>	</br>
			<div class="tile3">Czujnik 3</br>{{SoilH3}}%</div>	</br>
			<div class="tile3">Czujnik 4</br>{{SoilH4}}%</div>	</br>
			<div class="tile3">Czujnik 5</br>{{SoilH5}}%</div>	</br>
			<div class="tile3">Czujnik 6</br>{{SoilH6}}%</div>	</br>
	</div>  
		<div class="item4">
			<div class="tile1">Temperatura </br>{{airTemp}}°C </div></br>
			<div class="tile4">Wilgotność powietrza</br>{{airH}}%</div>
	</div>
		<div class="item5">2022 &copy; Garden Station - Projekt inżynierski; PWr Elektronika EZI</div>
	  </div>
</body>
</html>	